#OS
.DS_Store
Desktop.ini
._*
Thumbs.db
.Spotlight-V100
.Trashes

#Java
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

#Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

#Node
node_modules/
.npm
build/Releasedist
dist/
*.tsbuildinfo

#Terraform
terraform.tfstate*
terraformscan.binary
terraformscan.json

#Environment
.venv
env/
venv/
ENV/
env.bak
venv.bak
env.bak/
venv.bak/

#Logs
*log.txt
*.log
*debug.log

#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

#Gradle
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

#IntelliJ
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
.settings/

#Eclipse
bin/
tmp/
.metadata
.classpath

#Visual Studio
.vscode/*
*.code-workspace

#Backstage
catalog-info.yaml

/.run

agent.md